html{
    font-size: 18px;
}
body{
    margin: 0 auto;
    background-color: #f3f7fa;
    font: 400 18px / 34px 'Source Sans Pro';
}
#top{
    height: 970px;
    overflow: hidden;
    position: relative;
}
#header{
    width: 100%;
    position: relative;
}
.wrap{
    width: 960px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.left-side{
    float: left;
    width: 300px;
}
.right-side{
    text-align: right;
    float: right;
    width: 630px;
}
.navigation{
    display: block;
    list-style: none;
}
.navigation li{
    display: inline-block;
    position: relative;
}
.navigation li a{
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font: 400 20px / 34px 'Source Sans Pro';
    display: block;
    position: relative;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.navigation li a:hover{
    opacity: 1;
}
.logo{
    top:19px;
    position: absolute;
}
.logo a{
    background-image: url(img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 151px;
    height: 32px;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.logo a:hover{
    opacity: 1;
}
#banner{
    height: 100vh;
    background-image: url(img/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.greet{
    width: 100%;
    display: table-cell;
    text-align: center;
    margin-top: 250px;
    text-transform: uppercase;
    position: absolute;
    font-family: Raleway;
    color: #ffffff;
    z-index: 5;
}
.greet h1{
    font-size: 149px;
    margin-bottom: 80px;
     
}
.greet p{
    font-size: 50px;

}
.arrow{
    bottom: 347px;
    width: 100%;
    height: 46px;
    position: absolute;
    text-align: center;
}
.arrow a{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
    width: 46px;
    height: 46px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.arrow a:hover{
    opacity: 0.8;
}